@import '../../../../assets/scss/components/base/theme';

:host {
  .paginas {
    margin-top: 90px;
    height: 90vh;
    background-color: #f0f0f0;
  }
  .page-wrapper {
    background-color: #f0f0f0;
  }
}
