<mat-card class="search-card">
  <mat-card-header>
    <mat-card-title><h3>Consulta</h3></mat-card-title>
    <mat-card-subtitle
      >De acordo com a opção selecionado iremos coletar os dados nos portais
      relevantes.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="formQueryTypes">
        <form
          [formGroup]="formQueryTypes"
          (ngSubmit)="onSubmit(formQueryTypes)"
        >
          <ng-template matStepLabel>Selecione a consulta</ng-template>
          <mat-form-field class="first-form-field">
            <input
              type="text"
              placeholder="Tipo de Consulta"
              matInput
              formControlName="queryType"
              [matAutocomplete]="auto"
              required
            />
            <mat-error>
              É obrigatório o preenchimento deste campo
            </mat-error>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="w-100 d-flex justify-content-end">
            <button mat-button type="submit" color="warn" matStepperNext>
              Avançar
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Preencha um campo</ng-template>

        <ng-container *ngIf="selectedOption === options[0]">
          <div class="w-100">
            <app-consulta-civil
              [stepper]="stepper"
              (body)="appendBody($event)"
            ></app-consulta-civil>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedOption === options[1]">
          <div class="w-100">
            <app-consulta-juridica
              [stepper]="stepper"
              (body)="appendBody($event)"
            ></app-consulta-juridica>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedOption === options[2]">
          <div class="w-100">
            <app-consulta-processos
              [stepper]="stepper"
              (body)="appendBody($event)"
            ></app-consulta-processos>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedOption === options[3]">
          <div class="w-100 mb-2">
            <app-consulta-automotiva></app-consulta-automotiva>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedOption === options[4]">
          <div class="w-100">
            <app-consulta-criminal
              [stepper]="stepper"
              (body)="appendBody($event)"
            ></app-consulta-criminal>
          </div>
        </ng-container>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Pesquisar</ng-template>
        <ng-container
          *ngIf="isError; then errorTemplate; else sucessTemplate"
        ></ng-container>
        <ng-template #errorTemplate>
          <div
            class="error-block col-12 d-flex flex-column justify-content-center align-items-center"
          >
            <img
              src="../../../../../assets/images/icon/error-bot.png"
              alt="lupa-carregando"
              class="no-results mb-1"
            />
              <span class="no-results-text mt-2 text-center">
                Ocorreu um erro. Tente novamente mais tarde.
              </span>
          </div>
        </ng-template>
        <ng-template #sucessTemplate>
          <ng-container *ngIf="isLoading; else notLoading">
            <div class="justify-content-center w-100">
              <app-loading></app-loading>
            </div>
          </ng-container>
          <ng-template #notLoading>
            <h5>Confirme os dados informados para pesquisa</h5>
            <div class="info-block">
              <div class="text-line">
                <h5>Consulta:</h5>
                <p>{{ selectedOption }}</p>
              </div>
              <div class="text-line">
                <h5>Campos preenchidos</h5>
                <mat-icon>done</mat-icon>
              </div>
            </div>
            <div class="w-100 d-flex justify-content-end">
              <button mat-button color="warn" class="mr-2" matStepperPrevious>
                Voltar
              </button>
              <button mat-button color="warn" (click)="search(stepper)">
                Concluir
              </button>
            </div>
          </ng-template>
        </ng-template>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
