<nav class="main-menu">
  <ul>
    <li>
      <a class="select-page" href="#">
        <mat-icon>home</mat-icon>
        <span class="nav-text">
          Dashboard
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="select-page" href="#">
        <mat-icon>find_in_page</mat-icon>
        <span class="nav-text">
          Consulta
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="select-page" href="#">
        <mat-icon>format_align_left</mat-icon>
        <span class="nav-text">
          Relatórios
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="select-page" href="#">
        <mat-icon>adb</mat-icon>
        <span class="nav-text">
          Chatbot
        </span>
      </a>
    </li>
    <li>
      <a class="select-page" href="#">
        <mat-icon>phonelink</mat-icon>
        <span class="nav-text">
          App Mobile
        </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a class="select-page" href="#">
        <mat-icon>person</mat-icon>
        <span class="nav-text">
          Perfil
        </span>
      </a>
    </li>
    <li>
      <a class="select-page" href="#">
        <mat-icon>power_settings_new</mat-icon>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>
