:host {
  table {
    position: absolute;
    width: 66rem;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
  }
  .mat-spinner {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}
