
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Relatório</th>
          <th scope="col">Nome cidadão</th>
          <th scope="col">Data Relatório</th>
          <th scope="col">Download PDF</th>
          <th scope="col">Encaminhar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td><i class="fa fa-file"></i></td>
          <td><i class="fa fa-download"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td><i class="fa fa-file"></i></td>
          <td><i class="fa fa-download"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td><i class="fa fa-file"></i></td>
          <td><i class="fa fa-download"></i></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td><i class="fa fa-file"></i></td>
          <td><i class="fa fa-download"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
